/* Custom CSS for Signup Form */
.signup-form {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .text-danger {
    font-size: 0.875rem;
  }
  
  .btn-primary {
    background-color: #007bff;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 767.98px) {
    .signup-form {
      padding: 15px;
    }
  }
  
  .logo {
    width: 250px; /* Adjust the width as needed */
    height: 250px; /* Adjust the height as needed */
    background-image: url('We-blog.png'); /* Path to your logo image */
    background-size: contain; /* Ensure the image fits within the div */
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto; /* Center the logo horizontally */
}